.historyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  justify-self: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

.backBtn {
  border: none;
  justify-self: flex-start;
  width: 45px;
  height: 45px;
  margin-left: 10px;
}

.workouts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.workoutsTable {
  width: 100%;
  border: 1px solid var(--border);
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--card);
  box-shadow: 0 2px 0 var(--border);
}

th,
td {
  font-size: 14px;
  font-weight: normal;
  top: 0;
  z-index: 1;
  background-color: var(--card-bg);
  padding: 8px;
  border-top: 1px solid var(--border);
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: var(--card-hover);
  }

  &:last-child:hover {
    background-color: var(--card-bg);
    cursor: default;
  }
}

.tableHeaderContent {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

th {
  padding: 12px 16px;
  width: fit-content;
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 8px;
  flex-direction: column;

  button {
    width: 70px;
    height: 30px;
    font-size: 11px;
    padding: 5px;

    &:hover {
      background-color: var(--card-hover);
    }
  }
}

.buttonContainer {
  margin-top: 30px;
}

.emptyText {
  font-size: 1.2rem;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3,
  p {
    margin: 7px;
  }
}
