:root {
  /* background */
  --bg: #0f172a;
  --bg-secondary: #111827;

  /* cards */
  --card: #1e293b;
  --card-hover: #263449;
  --border: #334155;

  /* text */
  --text: #f8fafc;
  --text-secondary: #94a3b8;
  --text-muted: #64748b;

  --selected: 59 130 246;
  --superset: #8b5cf6;

  /* accent */
  --accent: #22c55e;
  --accent-hover: #16a34a;

  /* buttons */
  --button-bg: #22c55e;
  --button-text: #052e16;
  --button-hover: #16a34a;

  /* danger / delete later */
  --danger: #993030;

  /* inputs */
  --input-bg: #0f172a;
  --input-border: #334155;
  --input-focus: #22c55e;
}

:root[theme="light"] {
  /* background */
  --bg: #f2eee6;
  --bg-secondary: #e9e3d8;

  /* cards */
  --card: #f8f4ec;
  --card-hover: #eee8dd;
  --border: #d7cfc2;

  /* text */
  --text: #2a261f;
  --text-secondary: #6f675c;
  --text-muted: #9a9186;

  /* states */
  --selected: 59 130 246;
  --superset: #8b5cf6;

  /* accent */
  --accent: #16a34a;
  --accent-hover: #15803d;

  /* buttons */
  --button-bg: #22c55e;
  --button-text: #052e16;
  --button-hover: #16a34a;

  /* danger */
  --danger: #b83a3a;

  /* inputs */
  --input-bg: #f8f4ec;
  --input-border: #d3cabd;
  --input-focus: #16a34a;
}

// :root[theme="light"] {
//   /* background */
//   --bg: #faf7f1;
//   --bg-secondary: #f5f0e7;

//   /* cards */
//   --card: #ffffff;
//   --card-hover: #f7f2e9;
//   --border: #e6ddcb;

//   /* text */
//   --text: #1c1a17;
//   --text-secondary: #5f594f;
//   --text-muted: #8a8172;

//   /* states */
//   --selected: 59 130 246;
//   --superset: #8b5cf6;

//   /* accent */
//   --accent: #22c55e;
//   --accent-hover: #16a34a;

//   /* buttons */
//   --button-bg: #22c55e;
//   --button-text: #052e16;
//   --button-hover: #16a34a;

//   /* danger */
//   --danger: #9c3d2e;

//   /* inputs */
//   --input-bg: #faf7f1;
//   --input-border: #e6ddcb;
//   --input-focus: #22c55e;
// }
